---
import { getTocGroups } from '../_lib/guide-acts';
import type { MarkdownHeading } from 'astro';

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
const tocGroups = getTocGroups(headings);
---

{
  tocGroups.length > 0 && (
    <nav class="guide-toc" aria-label="Table of contents">
      <p class="guide-toc__label label-mono">Progress</p>
      {tocGroups.map((group) => (
        <div class="guide-toc__group">
          <p class="guide-toc__act">{group.act}</p>
          <ol class="guide-toc__list">
            {group.headings.map((heading) => (
              <li>
                <a href={`#${heading.slug}`} data-toc-slug={heading.slug} class="guide-toc__link">
                  {heading.text}
                </a>
              </li>
            ))}
          </ol>
        </div>
      ))}
    </nav>
  )
}
