{% if include.frame == false %}
	{% assign frame = false %}
{% else %}
	{% assign frame = true %}
{% endif %}

<section class="videoset container-wide">
  <figure class="figure figure--video {% if include.caption %}figure--caption{% endif %} {% if frame %}figure--frame{% endif %}">
    <div class="fb-video" data-href="{{ include.url }}" data-allowfullscreen="true"></div>
    {% if include.caption %}
      <figcaption class="figure__caption">{{ include.caption }}</figcaption>
    {% endif %}
  </figure>
</section>
