header.navigation {
  @include outer-container;
  hgroup.intro {
    @include span-columns(12);
    h1 { text-align: center; }

    @include media($desktop) {
      @include span-columns(6);
      h1 { text-align: left; }
    }
  }
  nav.cover {
    @include span-columns(12);
    li { text-align: center; }

    @include media($desktop) {
      @include span-columns(6);
      li { text-align: right; }
    }
  }

  border-bottom: 1px solid #eee;
}
