<header class="navigation" role="banner">
  <hgroup class="intro">
    <h1>
      <a href="/" class="home">Travis Vocino</a>
      <span><a href="http://facebook.com.com/vocino" rel="me" target="_blank">@Vocino</a></span>
    </h1>
  </hgroup>
  <nav class="cover">
    <ul>
      <li>About</li>
    </ul>
  </nav>
</header>
