---
layout: default
---

{% include partials/progress.html %}

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.excerpt %}<h3 class="post-subtitle">{{ page.excerpt }}</h3>{% endif %}
  </header>
  {{ content }}
</article>

<aside class="recommend container">
  {% include partials/fb-recommend.html %}
</aside>

<div class="fb-quote"></div>

<aside class="post-footer">
  <div class="post-navigation container">
    <div class="row">
      <div class="col-3">
        <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
      </div>
      <div class="col-6"></div>
      <div class="col-3">
        {% if page.previous.url %}
          <a class="prev" href="{{page.previous.url}}">&laquo;</a>
        {% endif %}
        {% if page.next.url %}
          <a class="next" href="{{page.next.url}}">&raquo;</a>
        {% endif %}
      </div>
    </div>
  </div>
</aside>
