{% if page.title %}
  {% assign title = page.title %}
{% else %}
  {% assign title = site.title %}
{% endif %}

{% if page.excerpt %}
  {% assign description = page.excerpt | strip_html | strip_newlines %}
{% else %}
  {% assign description = site.description | strip_html | strip_newlines %}
{% endif %}

{% assign url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
  {% if page.title %}
    {{ page.title }} by {{ site.title }}
  {% else %}
    {{ site.title }} &mdash; {{ site.description }}
  {% endif %}
</title>

<!-- +++ CSS +++ -->
{% if site.environment == 'production' %}
<script>
  {% include loadCSS.js %}
  loadCSS("assets/stylesheets/vocino.css");
</script>
<noscript>
{% endif %}
 <!-- build:css(source) /assets/stylesheets/vocino.css -->
<link href="/assets/stylesheets/vocino.css" rel="stylesheet" type="text/css">
 <!-- endbuild -->
{% if site.environment == 'production' %}
</noscript>
{% endif %}
<link rel="manifest" href="/manifest.json">
