.home {
  // color: rgba(255,255,255,.8);
  // background: url('/assets/images/home-blue.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: #111;

  .opening {
    margin-top: $gutter-width*4;
  }
}

.home {
  color: #eee;

  h1.title-name {
    font-weight: 800;
    margin: 0;
  }

  p.tagline {
    margin: 0;
  }

  .fb-follow {
    margin-top: $gutter-width;
  }

  a {
    color: white;
    font-weight: 400;
    border-bottom: 1px solid #3cf;
    &:hover {
      color: #3cf;
    }
  }
}
