.home {
  // color: rgba(255,255,255,.8);
  // background: url('/assets/images/home-blue.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: #111;

  .opening {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

.home {
  color: #eee;

  h1.title-name {
    font-weight: 800;
    margin: 0;
  }

  p.tagline {
    margin: 0;
  }

  .fb-follow {
    margin-top: 3em;
  }

  a {
    color: white;
    font-weight: 400;
    border-bottom: 1px solid #3cf;
    &:hover {
      color: #3cf;
    }
  }
}

.projects {
  .col {
    padding: 0;
  }
  a {
    border: none;
  }
  img {
    margin: 0;
    padding: 0;
    display: block;
  }
}


.copyright {
  color: #666;
}
