// Masthead
//
// Super small header above the content for site name and short description.


.leader {
  background-size: cover;
}

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;

  .logo {
    margin: 0;
    padding: 0;
    height: 2rem;
  }

  a {
    color: inherit;
    &:hover {
      color: blue;
      text-decoration: none;
    }
  }

  small {
    font-weight: 300;
    opacity: .5;
    line-height: 2rem;
  }
}
