<head>
  {% include partials/meta.html %}

  <!-- +++ CSS +++ -->
  {% if site.environment == 'production' %}
  <script>
    {% include loadCSS.js %}
    loadCSS("assets/stylesheets/vocino.css");
  </script>
  <noscript>
  {% endif %}
   <!-- build:css(source) /assets/stylesheets/vocino.css -->
  <link href="/assets/stylesheets/vocino.css" rel="stylesheet" type="text/css">
   <!-- endbuild -->
  {% if site.environment == 'production' %}
  </noscript>
  {% endif %}

  {% include partials/facebook-pixel.html %}

</head>
