<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include partials/fb-sdk.html %}

    <progress value="0" id="progressBar">
      <div class="progress-container">
        <span class="progress-bar"></span>
      </div>
    </progress>

    <div class="leader" style="background-image: url('/assets/{{ page.path | replace: '.md','' | replace: '_','' }}/cover.jpg')">
      {% include partials/masthead.html %}
    </div>

    <main>
      {{ content }}
    </main>

    <div class="footer">
      {% include foot.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
