---
layout: default
---

{% include partials/progress.html %}

<article class="post">
  <header class="post-header container">
    <h1 class="post-title">{{ page.title }}</h1>
    <h3 class="post-subtitle">{{ page.excerpt }}</h3>
  </header>
  {{ content }}
</article>

<aside class="recommend container">
  {% include partials/fb-recommend.html %}
</aside>

<div class="fb-quote"></div>

<aside class="post-footer">
  <div class="post-navigation container-wide">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>
</aside>
