---
import SEO from '../components/SEO.astro';
import '../styles/main.scss';

interface Props {
  title?: string;
  description?: string;
  noindex?: boolean;
  page?: string;
}

const { title, description, noindex, page } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="color-scheme" content="dark light" />
  
  <SEO title={title} description={description} noindex={noindex} />
</head>
<body class="site-root" data-page={page}>
  <main class="site-main">
    <slot />
  </main>
</body>
</html>
